body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.games {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gamecard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}


img {
    height: 250px;
    width: 250px;
}